.navbar{
   background-color:aqua;
}
.navbar ul{
  display: flex;
  gap: 50px;
  justify-content: center;


}
.navbar ul li {
   list-style: none;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.main-products{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.main-products input{
  display: flex;

  border: none;
  
}